body {
  background: -webkit-linear-gradient(right,#adcbe3,#e9ded8);
}

/*navigatio*/
.navbar {
  overflow: hidden;
  background-color: #191919;
  position: fixed;
  top: 0;
  width:100%;
  z-index: 10;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: white;
}

.navbar a.active {
  background-color: #2196F3;
  color: grey;
}

.navbar input[type=text] {
  float:right;
  padding: 6px;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
/*row1*/
.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
